In [13]:
xml_file = 'nested_example.xml'
xsl_file = 'xsl_example.xml'
#xsl_file_original = 'example/xsl_example.xml'

#example0, example = parse_flatten(xml_file, xsl_file)
#example0, example_original = parse_flatten(xml_file, xsl_file_original)

with open(xml_file, 'r') as file:
    xml = file.read()

In [116]:
import json, xmljson
import pandas as pd
from lxml.etree import fromstring, tostring

xml = open(xml_file, 'r').read()
#json = xmltodict.parse(xml)
#df = pd.json_normalize(json['t']['book'], 'author')

xml_et = fromstring(xml)
#json = xmljson.badgerfish.data(xml_et)
#json = xmljson.parker.data(xml_et)
json = xmljson.yahoo.data(xml_et)

In [121]:
xml

'<t>\n    <book>\n        <title>My book</title>\n        <author>\n            <name>Smith</name>\n            <nat>UK</nat>\n        </author>\n        <author>\n            <name>Wallace</name>\n            <nat>UK_US</nat>\n        </author>\n        <author>\n            <name>Brown</name>\n            <nat>UK</nat>\n        </author>\n        <judgement>\n            <reb>good</reb>\n        </judgement>\n        <judgement>\n            <reb>so-so</reb>\n        </judgement>\n        <judgement>\n            <reb>meh</reb>\n        </judgement>\n    </book>\n    <book>\n        <title>Other book</title>\n        <author>\n            <name>King</name>\n            <nat>US</nat>\n        </author>\n        <author>\n            <name>Queen</name>\n            <nat>Kentucky</nat>\n        </author>\n        <judgement>\n            <reb>bad</reb>\n        </judgement>\n    </book>\n</t>\n'

In [95]:
pd.json_normalize(json['t'], 'book')

,author,judgement,title.$,judgement.reb.$
0,"[{'name': {'$': 'Smith'}, 'nat': {'$': 'UK'}},...","[{'reb': {'$': 'good'}}, {'reb': {'$': 'so-so'...",My book,NaN
1,"[{'name': {'$': 'King'}, 'nat': {'$': 'US'}}, ...",NaN,Other book,bad

# Work on real dictionary data

In [33]:
xml_file = 'JMdict_sample.xml'
xsl_file = 'JMdict_xsl.xml'

live0, live = parse_flatten(xml_file, xsl_file)

In [34]:
live0

   ent_seq  k_ele  r_ele  sense
0  1631880    NaN    NaN    NaN

In [35]:
live

   ent_seq  k_ele  r_ele  sense
0  1631880    NaN    NaN    NaN

In [ ]:
jmd[jmd['ent_seq']==1431690]