In [24]:
import pandas as pd

def parse_flatten(xml_file, xsl_file):
    with open(xsl_file, 'r') as file:
        xsl = file.read()
        
    df0 = pd.read_xml(xml_file,parser='lxml')
    df = pd.read_xml(xml_file,parser='lxml',stylesheet=xsl)
    
    return df0, df

In [25]:
xml_file = 'nested_example.xml'
xsl_file = 'xsl_example.xml'

example0, example = parse_flatten(xml_file, xsl_file)

In [26]:
example0

         title  pages    size author
0      My book    200     big    NaN
1   Other book    100   small   King
2  Pretty book    150  medium   None

In [27]:
example

  style        title  pages    size author-name
0  even      My book    200     big       Smith
1   odd      My book    200     big     Wallace
2  even      My book    200     big       Brown
3   odd   Other book    100   small        King
4  even  Pretty book    150  medium        None

In [ ]:
xml_file = 'JMdict_sample.xml'
xsl_file = 'JMdict_xsl.xml'

In [ ]:
jmd[jmd['ent_seq']==1431690]