In [13]:
xml_file = 'nested_example.xml'
xsl_file = 'xsl_example.xml'
#xsl_file_original = 'example/xsl_example.xml'

#example0, example = parse_flatten(xml_file, xsl_file)
#example0, example_original = parse_flatten(xml_file, xsl_file_original)

with open(xml_file, 'r') as file:
    xml = file.read()

In [59]:
import json, xmljson
import pandas as pd

xml = open(xml_file, 'r').read()
json = xmltodict.parse(xml)
#df = pd.json_normalize(json['t']['book'], 'author')

In [67]:
type(json['t']['book'][0])==OrderedDict.isinstance()

NameError: name 'OrderedDict' is not defined

In [61]:
json['t']['book'][0]

OrderedDict([('title', 'My book'),
             ('author',
              [OrderedDict([('name', 'Smith'), ('nat', 'UK')]),
               OrderedDict([('name', 'Wallace'), ('nat', 'UK_US')]),
               OrderedDict([('name', 'Brown'), ('nat', 'UK')])]),
             ('judgement',
              [OrderedDict([('reb', 'good')]),
               OrderedDict([('reb', 'so-so')]),
               OrderedDict([('reb', 'meh')])])])

In [45]:
pd.json_normalize(json['t'], 'book', )

,title,author,judgement,judgement.reb
0,My book,"[{'name': 'Smith', 'nat': 'UK'}, {'name': 'Wal...","[{'reb': 'good'}, {'reb': 'so-so'}, {'reb': 'm...",NaN
1,Other book,"[{'name': 'King', 'nat': 'US'}, {'name': 'Quee...",NaN,bad

# Work on real dictionary data

In [33]:
xml_file = 'JMdict_sample.xml'
xsl_file = 'JMdict_xsl.xml'

live0, live = parse_flatten(xml_file, xsl_file)

In [34]:
live0

   ent_seq  k_ele  r_ele  sense
0  1631880    NaN    NaN    NaN

In [35]:
live

   ent_seq  k_ele  r_ele  sense
0  1631880    NaN    NaN    NaN

In [ ]:
jmd[jmd['ent_seq']==1431690]