In [73]:
import xml.etree.ElementTree as ET

file = 'nested_example.xml'

tree = ET.parse(file)
root = tree.getroot()

level = 'book'
flats = ['id','title']
gets = {'author':['name', 'nat']}

In [76]:
D = []

for item in root.iter(level):
    d = {}
    
    for flat in flats:
        d[flat] = item.find(flat).text
        
    for get in gets.keys():
        for get_field in gets[get]:
            name = '_'.join([get,get_field])
            
            d[name] = item.find(get).find(get_field).text

    D.append(d)

In [77]:
D

[{'id': '1', 'title': 'My book', 'author_name': 'Smith', 'author_nat': 'UK'},
 {'id': '2', 'title': 'Other book', 'author_name': 'King', 'author_nat': 'US'}]

In [79]:
import pandas as pd
pd.DataFrame(D)

  id       title author_name author_nat
0  1     My book       Smith         UK
1  2  Other book        King         US

In [9]:
for child in root:
    print(', '.join([child.tag,child.text]))

#for elem in tree.iter():
#    print(', '.join([elem.tag,elem.text]))

book,

book,

In [47]:
for x in root.iter('book'):
    print(x.find('id').text)
  #  for y in x.iter():
  #      print(''.join(['title=', y.get('id')]))
  #      print(', '.join([y.tag,y.text]))

1
2

In [11]:
help(root)

Help on Element object:

class Element(builtins.object)
 |  Methods defined here:
 |
 |  __copy__(self, /)
 |
 |  __deepcopy__(self, memo, /)
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getstate__(self, /)
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __setstate__(self, state, /)
 |
 |  __sizeof__(self, /)
 |      Size of object in memory, in bytes.
 |
 |  append(self, subelement, /)
 |
 |  clear(self, /)
 |
 |  extend(self, elements, /)
 |
 |  find(self, /, path, namespaces=None)
 |
 |  findall(self, /, path, namespaces=None)
 |
 |  findtext(self, /, path, default=None, namespaces=None)
 |
 |  get(self, /, key, default=None)
 |
 |  insert(self, index, subelement, /)
 |
 |  items(self, /)
 |
 |  iter(self, /, tag=None)
 |
 |  iterfind(self, /, path, namespaces=None)
 |
 |  itertext(self, /)
 |
 |  keys(self, /)
 |
 |  makeelement(self, tag, attrib, /)
 |
 |  remove(self, subelement, /)
 |
 |  set(self, key, value, /)
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  attrib
 |      A dictionary containing the element's attributes
 |
 |  tag
 |      A string identifying what kind of data this element represents
 |
 |  tail
 |      A string of text directly after the end tag, or None
 |
 |  text
 |      A string of text directly after the start tag, or None

In [9]:
import pandas as pd
jmd = pd.read_xml(file,parser='etree')

In [10]:
jmd

,AmazonOrderID,MerchantOrderID,ShipmentID,MarketplaceName,MerchantFulfillmentID,PostedDate,Item
0,406-6143419-7223518,None,None,None,None,None,NaN
1,None,406-6143419-7223518,None,None,None,None,NaN
2,None,None,DDNSkvgJN,None,None,None,NaN
3,None,None,None,Amazon.in,None,None,NaN
4,None,None,None,None,AFN,2017-07-22T08:31:18+00:00,NaN

In [15]:
jmd[jmd['ent_seq']==1431690]

       ent_seq  r_ele  sense  k_ele
40600  1431690    NaN    NaN    NaN